    /* Página de inicio*/
    
    body {
        font-family: 'Lato', sans-serif, Arial;
        width: 100%;
        background-image: url("../img/bg-0.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* propiedad para efecto parallax */
        background-attachment: fixed;
    }
    
    body:before {
        content: "";
        width: 100%;
        height: 431vh;
        position: absolute;
        top: 0;
        left: 0;
        /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(116, 9, 121, 0.7206232834930848) 59%, rgba(0, 212, 255, 1) 100%); */
        opacity: 0.5;
    }
    
    body:root {
        --aqua: #018F98;
        --navy: #0F1628;
        --purple: #4A2748;
        --dark: #373A3C;
        --grey: #777777;
        --light: #dddddd;
        --white: #fff;
        --danger: #dc3545;
    }
    /* navBar */
    
    .navbar-brand {
        font-size: 30px;
        font-family: 'Dancing Script', cursive;
    }
    
    nav {
        background-color: var(--navy);
    }
    
    .nav-link,
    .navbar-brand {
        color: var(--white);
    }
    
    .row {
        text-align: justify;
    }
    /* header */
    
    .welcomeText {
        font-family: 'Dancing Script', cursive;
        text-shadow: 2px 2px 2px var(--dark);
        color: var(--white);
        font-size: 40px;
        padding: 150px 40px 125px 40px
    }
    
    .btn-outline {
        border: 2px solid aqua !important;
    }
    
    .modalBackground {
        width: 100%;
        background-image: url("../img/bg-0.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* propiedad para efecto parallax */
        background-attachment: fixed;
        background: rgb(255, 255, 255, .7);
    }
    /* section 1 */
    
    .imgPerfil {
        width: 55%;
    }
    
    .section1 {
        width: 80vw;
        padding: 25px 0;
        margin: 20px auto;
        background: rgb(255, 255, 255, .7);
    }
    /* section 2 */
    
    .imgLab,
    .imgDesafio {
        width: 40%;
    }
    /*Formulario*/
    
    .form-footer {
        display: none!important;
    }