    /* Página de inicio*/
    
    body {
        font-family: 'Lato', sans-serif;
        width: 100%;
        background-image: url("../img/bg-5.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* propiedad para efecto parallax */
        background-attachment: fixed;
    }
    

    /* navBar */

    nav {
        background: rgb(15, 22, 40);
    }
    
    .nav-link{
        color: rgb(248, 229, 229)!important;
        border-right: 1px solid rgb(248, 229, 229);
        text-decoration: none;
        padding: 0 20px!important;
    } 

    #lastLink {
        border-right: 0;
    }


    .fa-bars {
        border-color: var(--white);
    }

    
    .row {
        text-align: justify;
    }
    /* header */
    
    .welcomeText {
        font-family: 'Dancing Script', cursive;
        text-shadow: 2px 2px 2px var(--dark);
        color: var(--white);
        font-size: 40px;
        padding: 150px 40px 220px 40px;
    }
    
    .btn-info {
        width: 100%;
    }
    
    

    .modal-content {
              /* propiedad para efecto parallax */
        background-color: rgb(11, 36, 48);
        color: var(--white);
    }

    /* section 1 */
    
     .imgPerfil {
        width: 18em;
        height: 18em;
    }  

    .section1 {
        width: 80vw;
        height: 50vh;
        padding: 25px 0;
        margin: 20px auto;
        background: rgba(255, 255, 255, 0.6);
    }
    /* section 2 */
    .section2 {
        width: 100%;
        background-image: url("../img/bg-9.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .imgLab,
    .imgDesafio {
        width: 6em;
    }



    /*Formulario*/
   
    /* footer */
    footer {
        background-color: rgb(11, 36, 48);
    }

    .fab{
        font-size: 40px;
        color: #ffffff;
        height: 100px;
    }

    /*Media queries*/

        /* .section2 {
        margin: 0 7.18em;
        background-color:  rgba(31, 129, 129, 0.5);
    } */
