    /* Página de inicio*/
    
    body {
        font-family: 'Lato', sans-serif;
        width: 100%;
        background-image: url("../img/bg-13.jfif");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* propiedad para efecto parallax */
        background-attachment: fixed;
    }
    

    /* navBar */

    nav {
        background: rgb(15, 22, 40);
    }
    
    .nav-link{
        color: rgb(248, 229, 229)!important;
        border-right: 1px solid rgb(248, 229, 229);
        text-decoration: none;
        padding: 0 20px!important;
    } 

    #lastLink {
        border-right: 0;
    }

    /*Ícono hamburguesa*/
    .fa-bars {
        border-color: #ffffff;
    }
    
    .row {
        text-align: justify;
    }
    /* header */
    
    .welcomeText {
        font-family: 'Dancing Script', cursive;
        text-shadow: 2px 2px 2px var(--dark);
        color: var(--white);
        font-size: 40px;
        padding: 150px 40px 220px 40px;
    }
    
    .btnInfo, .btnModal {
        width: 100%;
        background-color: rgb(25, 161, 150);
        color: #ffffff;
    }
    
    .modal-content {
              /* propiedad para efecto parallax */
        background-color: rgb(11, 36, 48);
        color: var(--white);
    }

    /*Estilo secciones en general*/

    section {
        margin-top: 100px;
    }

    /* section 1 (Sobre mi) */
    
     .imgPerfil {
        width: 18em;
        height: 18em;
    }  

    .section1 {
        width: 80vw;
        /* height: 50vh; */
        /* padding: 25px 25px; */
        margin: 50px auto;
        background: rgba(255, 255, 255, 0.6);
    }
    /* section 2 (Mis estudios) */
    .section2 {
        width: 100%;
        height: 100vh;
        background-image: url("../img/bg-9.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 40px 20px;
    }
    
    .section2 h2 {
        margin: 20px;
    }

    .section2 p {
        margin-bottom: 70px;
    }

    .imgLab,
    .imgDesafio {
        width: 6em;
    }

    /* seccion 3 (Proyectos) */
    .card{
        margin: 30px auto;
    }

    .card-title {
        font-weight:700;
    }

    /*Formulario*/
   
    /* footer */
    footer {
        background-color: rgb(11, 36, 48);
    }

    .fab{
        font-size: 40px;
        color: #ffffff;
    }

    /*Media queries*/

        /* .section2 {
        margin: 0 7.18em;
        background-color:  rgba(31, 129, 129, 0.5);
    } */
